<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Devices</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css") }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="dashboard" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-fire me-2"></i>Mibu SM</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="ms-3">
                        <h6 class="mb-0">{{ current_user.user }}</h6>
                        <span>{{ current_user.role.value }}</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="users" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Users</a>
                    <a href="devices" class="nav-item nav-link active"><i class="fa fa-server me-2"></i>Devices</a>
                    <a href="perf_n_logs" class="nav-item nav-link"><i class="fa fa-flask me-2"></i>Perf & Logs</a>
                    <a href="docs" class="nav-item nav-link"><i class="fa fa-book me-2"></i>API Docs</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="d-none d-lg-inline-flex">{{ current_user.user }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Registered Devices</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">id </th>
                                            <th scope="col">device type</th>
                                            <th scope="col">name</th>
                                            <th scope="col">vendor</th>
                                            <th scope="col">controller ip</th>
                                            <th scope="col">controller user</th>
                                            <th scope="col">controller password</th>
                                            <th scope="col">hypervisor type</th>
                                            <th scope="col">hypervisor ip</th>
                                            <th scope="col">hypervisor user</th>
                                            <th scope="col">hypervisor password</th>
                                            <th scope="col">ip address </th>
                                            <th scope="col">user </th>
                                            <th scope="col">password </th>
                                            <th scope="col">UPS pid </th>
                                            <th scope="col">     </th>
                                        </tr>
                                    </thead>
                                    {% if devices|length>0 %}
                                    <tbody>
                                        {% for device in devices %}
                                        <tr>
                                            <th scope="row">{{ device.id }}</th>
                                            <td>{{ device.device_type.value }}</td>
                                            <td>{{ device.name | apply_dash }}</td>
                                            <td>{{ device.vendor | apply_dash }}</td>
                                            <td>{{ device.controller_ip | apply_dash }}</td>
                                            <td>{{ device.controller_user | apply_dash}}</td>
                                            <td>{{ device.controller_password | hide_password }}</td>
                                            <td>{{ device.hypervisor_type | apply_dash}}</td>
                                            <td>{{ device.hypervisor_ip | apply_dash}}</td>
                                            <td>{{ device.hypervisor_user | apply_dash}}</td>
                                            <td>{{ device.hypervisor_password | hide_password }}</td>
                                            <td>{{ device.host_ip | apply_dash}}</td>
                                            <td>{{ device.host_user | apply_dash}}</td>
                                            <td>{{ device.host_password | hide_password }}</td>
                                            <td>{{ device.pid | apply_dash}}</td>
                                            <td>
                                                <form action = "/delete_device/{{device.id}}" method="GET">
                                                    <button type="submit" class="btn btn-outline-primary m-2"><i class="fa fa-trash me-2"></i>Delete</button>  
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    {% if current_user.role.value == "admin" %}
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Add New Device</h6>
                            <form onsubmit="return validateIPs()" form action="/devices" method="POST">
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Device Type</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="device_type_radios"
                                                id="gridRadios1" value="SERVER" checked>
                                            <label class="form-check-label" for="gridRadios1">
                                                Server
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="device_type_radios"
                                                id="gridRadios2" value="SECURITY_APPLIANCE">
                                            <label class="form-check-label" for="gridRadios2">
                                                Security appliance
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="device_type_radios"
                                                id="gridRadios3" value="POWER_CONTINUITY_APPLIANCE">
                                            <label class="form-check-label" for="gridRadios3">
                                                Power Continuity Appliance
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="device_type_radios"
                                                id="gridRadios4" value="L3_APPLIANCE">
                                            <label class="form-check-label" for="gridRadios4">
                                                L3 Appliance
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="device_type_radios"
                                                id="gridRadios5" value="L2_APPLIANCE">
                                            <label class="form-check-label" for="gridRadios5">
                                                L2 Appliance
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <div id="customInputsContainer" class="mb-3">
                                     <!-- dynamic inputs set by device tyype value (device_custom_inputs.js) -->
                                </div>
                                <button type="submit" class="btn btn-outline-success m-2" method="POST"><i class="fa fa-plus-circle me-2"></i>Add Device</button>   
                            </form>
                            <form onsubmit="return validateIPs()" form action="/reload_devices" method="POST">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-outline-warning m-2 float-right" method="POST"><i class="fa fa-wrench me-2"></i>Reload Devices</button>
                                </div>
                            </form>   
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Table End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename="lib/chart/chart.min.js") }} "></script>
    <script src="{{ url_for('static', filename="lib/easing/easing.min.js") }} "></script>
    <script src="{{ url_for('static', filename="lib/waypoints/waypoints.min.js") }} "></script>
    <script src="{{ url_for('static', filename="lib/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ url_for('static', filename="lib/tempusdominus/js/moment.min.js") }}"></script>
    <script src="{{ url_for('static', filename="lib/tempusdominus/js/moment-timezone.min.js") }}"></script>
    <script src="{{ url_for('static', filename="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js")}}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename="js/main.js") }}" ></script>

    <!-- Custom Javascript -->
    <script src="{{ url_for('static', filename="custom/deviceCustomInputs.js") }} "></script>
</body>

</html>